footer
    
    .container-fluid
        
        p.copyright 2018 Copyright creditosreconquista.com.ar / Todos los Derechos Reservados.       
                
        ul.redes
                    
            li.facebook
                a(href="#")
                    i.fab.fa-facebook-f
                      
            li.instagram
                a(href="#")
                    i.fab.fa-instagram
                      
            li.twitter
                a(href="#")
                    i.fab.fa-twitter        
    
    .container-fluid.disclaimer
        .row
            .col-sm-12
                p
                    | El otorgamiento del préstamo personal, se encuentra sujeto a calificación crediticia y condiciones de contratación. Las condiciones de los préstamos personales variarán de acuerdo a la calificación crediticia del interesado y las condiciones de mercado y políticas vigentes al momento del otorgamiento. Monto máximo $ 60.000, mínimo $ 2.000. Plazo: máximo 18 meses, mínimo 3 meses. Tasa máxima que incluye costo financiero total ANUAL para ARGENTINA (CFT). (132%). Ej. Para un préstamo de 2000 en 3 meses: Tasa Nominal Anual fija (78.8%), Costo financiero total ANUAL (132%). Ejemplo: Para un préstamo de $ 3000,00 en tres meses abona 3 cuotas iguales y fijas de $1300, y para seis meses 6 cuotas iguales y fijas de $ 800,00. La tasa será decreciente para los clientes con antigüedad y buen comportamiento de pago. Pre-cancelación: Todos los préstamos son pre cancelables abonando el interés correspondiente a la fecha del efectivo pago con más el saldo de la cuenta capital. Renovación: Abonando el 50% del préstamo podrá renovarse el mismo con la posibilidad, sujeta a aprobación, de aumentar el monto de otorgamiento. Los préstamos están disponibles para empleados en relación de dependencia. Los pagos podrán realizarse por débito automático, o en sucursales Pago Fácil, Rapipago, Cobro Express, Provincia Pagos, Ripsa Pagos y otras entidades. Para el caso de mora en el pago de las cuotas la Empresa se reserva el derecho de iniciar las acciones legales extrajudiciales y judiciales pertinentes. Suipacha 190 Piso 7 of 706. Ciudad Autónoma de Buenos Aires.
                
                a.afip(href="http://qr.afip.gob.ar/?qr=g39hoi3r790DZQKk2f5Drg,,", target="_F960AFIPInfo")
                    img(src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg", border="0")
            
                    

script(src='js/vendor.js')
script(src='js/' + js_app)
