doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        title Créditos Reconquista
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', type='text/css', href='css/' + css_app)
        //link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
        //link(rel="icon", href="images/favicon.ico", type="image/x-icon")
        meta(name="msapplication-TileImage", content="images/favicon/cropped-isotipo-270x270.png")
        link(rel="apple-touch-icon-precomposed", href="images/favicon/cropped-isotipo-180x180.png")
        link(rel="icon", href="images/favicon/cropped-isotipo-192x192.png" sizes="192x192")
        link(rel="icon", href="images/favicon/cropped-isotipo-32x32.png" sizes="32x32")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
